<!DOCTYPE html>
<html>
<head>
	<title>Python Starter Application</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="stylesheets/style.css" />
</head>
<body>
	<table>
		<tr>
		<br>  Name : Gowtam Dasaka<br> ID: 1001232537 <br> class section : 3:30<br>
			<form action="/upload" method="POST" enctype="multipart/form-data">
					<input type="file" name="file"><br>
					<input type="submit" value="submit">
           		 </form><br><br>
				 <form action="/show" method="POST" enctype="multipart/form-data">
				    Enter number of clusters:<br>
					<input type="number" name="clsnum"><br>
					<input type="submit" value="Show graphs">
           		 </form>
		</tr>
	</table>
</body>
</html>
